@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root{
  --color:black;
  --con1:aliceblue;
  --feature_bg:rgb(215, 220, 225);
  --feature_bg2:rgb(255, 255, 255);
  --explore_bg:aliceblue;
  --product_bg:white;
  --body_bg:white;
  --btn_bg: rgb(96, 19, 168);
}

.k{
  display: flex;

}
@media(prefers-color-scheme:dark){
  :root{
    --color:whitesmoke ;
    --con1:rgb(54, 54, 54);
    --feature_bg:rgb(54, 54, 54);
    --feature_bg2:rgb(54, 54, 54);
    --explore_bg:rgb(54, 54, 54);
    --product_bg:rgb(54, 54, 54);
    --body_bg:rgb(54, 54, 54);
  }
}


@media screen and (max-width:600px){
  .btn_feature button{
    width: 120px;
    border-radius: 10px;
    border:none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.174);
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
    height: 45px;
    font-size: 15px;
  }
  
  .btn_feature button:nth-child(2){
    color: white;
    background-color: rgb(96, 19, 168);
    
  }
  
  .btn_feature button:hover{
    cursor: pointer;
    transform: scale(1.09);
  }
   .Investment_sec1{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 100vh;
    background-color: var(--body_bg);
    position: relative;
    top: 70px;
    justify-content: center;
  }
  .invest_content_1 h2{
    font-size: 30px;
    /* width: 100%; */
    text-align: start;
    font-weight: 100;
  }
  .pH1{
    display: flex;
    flex-flow:column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 100%;
  }
  /* .invest_content_1 p{
    width: 70%;
    text-align: start;
    margin: 5px;
    transform: translate(17px,-10px);

  } */
  .lw1 h3{
    text-align: center;
  }
  .invest_content_1,.invest_content_2{
    width: 30%;
    height:90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .soss{
    display: none;
    justify-content: center;
    width: 70%;
  }
  .kwq{
    display: flex;
    flex-flow:row;
    align-items: center;
    width: 100%;
    margin: 10px;
    justify-content: space-evenly;
  }
  .lw1 h3{
    text-align: start;
    font-size: 28px;
    margin: 5px;
    font-weight: 200;
  }
  .lw1 span{
    text-align: center;
    width: 100%;
  }
  /* .lw1{
    display: flex;
    flex-flow:column;
    align-items: center;
    width: 100%;
  } */
  .btn_feature2 {
    margin: 10px;
  }
  .btn_feature2 button{
    width: 80px;
    border-radius: 10px;
    border:none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.174);
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
    height: 45px;
    font-size: 13px;
  }
  
  .btn_feature2 button:nth-child(1){
    color: white;
    background-color: rgb(96, 19, 168);
    
  }
  
  .btn_feature2 button:hover{
    cursor: pointer;
    transform: scale(1.09);
  }
  .sp_w1{
    width: 50%;
    height: 70%;
    background-image: url(./assets/img/cloth.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .strss{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .max_s{
    font-size: 30px; 
    font-weight: 100;
    text-align: center;

  }
  .mx_ins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
  .section_2_investment{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .ms_in h4{
    font-size: 15px;
    font-weight: 100;
  }
  .img_ho img {
    transition: 0.5s ease-in-out;

  }
  .lss{
    background-color: var(--btn_bg);
    color: whitesmoke;
  }
  .ms_in button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
  }
  .img_ho img:hover {
    scale: 1.08;
    cursor: pointer;
  }
  .img_ho{
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
  }
  .ms_in h3{
    font-weight: 100;
    margin-top: 10px;
  }
  /* .ms_in h3,h4{
    transform: translateX(15px);
  } */
  .ms_in h3{
    width:90%;
    text-align: start;
  }
  .ms_in h4{
    width: 90%;
    text-align: start;
  }
  .ms_in{
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Section_ins_1{
    width: 99%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .lps_1{
    height: 65vh;
    margin-top:30px ;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 90%;
    background-image: url(./assets/Suleiman.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .lps_2{
    height: 65vh;
    border-radius: 10px;
    width: 90%;
    margin-top:30px ;
    margin-bottom: 30px;
    background-image: url(./assets/img/Business_po.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .qsq{
    display: flex;
    flex-flow: column;
    width: 90%;
  }
  .qsq h2{
    font-weight: 100;
  }
  .qsq h1{
    font-size: 30px;
    font-weight: 100;
    text-align: start;
  }
  .ksq h3{
    font-size: 20px;
    margin: 2px;
  }
  .lsa span{
margin-top: 8px;
  }
  .line{
    height: 100%;
    position: relative;
    font-size: 20px;
    margin: 10px;
    /* margin-left: 30px; */
    font-weight: 100;
  }
  .nams{
    display: flex;
    justify-content: start;
  }
  .lsaa{
    display: flex;
    justify-content: space-evenly;
  }
  .lsa p{
    font-size: 18px;
  }
  .ksq{
    color: rgb(235, 235, 58);
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .section_5_ins{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;

  }
  .nots h2{
    font-size: 35px;
    font-weight:lighter;
    text-align: center;
  }
  .div_cons{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .Teams img{
    border-radius:50%;
    width: 100px;
    height: 100px;
  }
  .Teams span{
    width: 90%;
  }
  .Icons{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin: 10px;
    font-size: 25px;
  }
  .icon_ins{
    font-size: 40px;
    color: tomato;
  }
  .icon_X{
    font-size: 40px;

    color: rgb(0, 183, 255);
  }
  .Teams{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 50vh;
  }
  .Section_6_ins{
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Section_6_inss{
    min-height: 150vh;
    width: 100%;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .blocks {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .blocks p{
    width: 90%;
  }
  .blocks h2{
    font-size: 30px;
    font-weight: 100;
    width: 90%;

  }
  /* .topz{
    transform: translateY(70px);
  } */
   .blocks_2{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
     width: 100%;
    height: 60vh;
    margin-bottom: 100px;
    position: relative;
   }
   .blocks2{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/Contact_US.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss2{ 
     width: 100%;
    height: 60%;

     border-radius: 10px;
    background-image: url(./assets/img/cloth.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }

    .Section_6_inss2{
    min-height: 70vh;
    width: 100%;
    position: relative;
    top: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .blocks {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .blocks p{
    width: 90%;
  }
  .blocks h2{
    font-size: 30px;
    font-weight: 100;
  }
  /* .topz{
    transform: translateY(70px);
  } */
   .blocks_2{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
     width: 98%;
    height: 50vh;
    position: relative;
   }
   .blocks2{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/Contact_US.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss2{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/cloth.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
     .blockss3{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/connection.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss4{ 
     width: 100%;
    height: 80%;

     border-radius: 10px;
    background-image: url(./assets/img/con2.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .Secion_1_connection{
    height:100vh;
    width: 100%;
    background-image: url(./assets/img/Contac_us.jpg);
    position: relative;
    top: 56px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fuls h1{
    font-size: 35px;
    font-weight: 100;
    color: whitesmoke;
  }
  .fuls p{
    font-size: 18px;
    width: 80%;
    color: whitesmoke;
  }
  .fuls{
    width: 100%;
    height: 100%;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.159);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .Admin{
   min-height: 200vh;
  width: 100%;
 }
 .Section_1_chart{
  width: 100%;
  position: relative;
  min-height: 150vh;
  padding: 10px;
  transform:translateY(7%);
 }
 .Box_chart:nth-child(1){
  background-color: rgb(63, 128, 239);
 }
 .Box_chart:nth-child(2){
    background-color:rgb(237, 172.5789473684, 33);

  /* background-color: rgb(245, 245, 245); */
 }
 .Box_chart{
  width: 100%;
  height: 250px;
  /* background-color: var(--body_bg); */
  display: flex;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: rgb(245, 245, 245);
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .boxs h1{
  text-align: start;
  font-size: 20px;
 }
 .btns{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
  border: none;
  background-color: var(--btn_bg);
  margin-top: 15px;
 }
 .boxs_2{
  display: flex;
  flex-flow: column;
  width: 70%;
 }
 .boxs{
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-left: 15px;
  width: 100%;
  height: 250px;
  
 }
 .boxs2{
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;

 }
 .Box_chart2{
  width: 100%;
  height: 200px;
  margin: 10px;
  border: 1px solid rgb(151, 151, 151);
  background-color: var(--body_bg);
  display: flex;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex-flow: column;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
 }
 .inline_charts{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 10px;
 }
 .flat_b{
  width: 100%;
  height: 250px;
  background-color: var(--body_bg);
  display: flex;
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
 }
 .linesa{
  width: 100%;
 }
 .Line_box{
  /* width: 70%; */
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: var(--body_bg);
  height: 47vh;
 }
 .progress{
  display: none;
  height: 100%;
  width: 30%;
  padding: 10px;
 }
 .psl{
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--body_bg);
 }
 .flat_flex{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
 }
 .boxsa2{
  font-size: 30px;
  color: rgb(250, 152, 168);
 }
 .kqz{
  margin-top: 5px;
  font-size: 13px;
 }
 .boxsa{
  font-size: 20px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height:40px;
  width:45px;
  background-color: rgb(235, 234, 233);
 }
 .small_box:nth-child(1){
  background-color: #ffc0cb;
 }
 .small_box:nth-child(2){
  background-color: #ffc0cb;
 }
 .small_box:nth-child(3){
  background-color: #ffc0cb;
 }
 .small_box{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 10px;
  height: 100px;
  background-color: var(--body_bg);
  border: 1px solid rgb(151, 151, 151);
 }
 
 .charts_flex{
  width: 100%;
  border-radius: 10px;
  height: 144px;
  /* background-color: hsl(58, 100%, 59%); */
  border: 1px solid rgb(151, 151, 151);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
 }
 .flxs{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
 }
 .progress_bar::-webkit-progress-value{
  background-color: rgb(0, 191, 255);
  border-radius: 5px;

 }
 .rts{
  font-size: 17px;
  transform: translateY(10px);

  /* transform: translate(5px,5px); */
 }
 .pro_size{
  display: flex;
  transform: translateY(-5px);
  justify-content: space-between;
  align-items: center;
 }
 .progress_bar::-ms-fill{
  background-color: yellow;
 }
 .progress_bar::-webkit-progress-bar{
  border-radius: 10px;
  border-radius: 10px;

 }
 .progress_bar{
  height: 20px;
  margin-top: 10px;
  width: 98%;
  border-radius: 10px;
}

.buttons_class{
  width: 100%;
  display: flex;
  /* flex: 1; */
  z-index: 1;
  height: 50px;
  justify-content: center;
  
}

.tbl{
  margin-top: 50px;
  margin-bottom: 10px;
}
.Btn_elements{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 10px;
  height: 47vh;

  background-color: var(--body_bg);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.items_cont::-webkit-scrollbar{
  width: 0px;
}
.items_cont{
  width: 100%;
  height: 100%;
  background-color: var(--body_bg);
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}
.items_cons{
  width: 100%;
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-evenly;
  margin: 5px;
  height: 100px;
  background-color: var(--body_bg);

}

.user_comment{
  height:100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  position: relative;
  padding: 10px;
  
}
.lswa{
  display: flex;
  flex-flow: row wrap ;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}
.User_com{
  width: 90%;
  display: flex;
  align-items: center;
  flex-flow: row wrap ;
  height: auto;
  background-color: var(--body_bg);
  border: 1px solid rgb(151, 151, 151);
  padding-inline:10px ;
  margin: 10px;
  border-radius: 10px;
}
.bodys{
  width: 100%;
  height: 100%;
}
.boys{
  display: flex;
  width: 100%;
  flex-flow:column; 

}
.p1{
  transform: translateY(-10px);
}
 
}

@media screen and (min-width:600px) and (max-width:900px) {

  .btn_feature button{
    width: 120px;
    border-radius: 10px;
    border:none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.174);
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
    height: 45px;
    font-size: 15px;
  }
  
  .btn_feature button:nth-child(2){
    color: white;
    background-color: rgb(96, 19, 168);
    
  }
  
  .btn_feature button:hover{
    cursor: pointer;
    transform: scale(1.09);
  }
   .Investment_sec1{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 100vh;
    background-color: var(--body_bg);
    position: relative;
    top: 70px;
    justify-content: center;
  }
  .invest_content_1 h2{
    font-size: 30px;
    /* width: 100%; */
    text-align: start;
    font-weight: 100;
  }
  .pH1{
    display: flex;
    flex-flow:column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 100%;
  }
  /* .invest_content_1 p{
    width: 70%;
    text-align: start;
    margin: 5px;
    transform: translate(17px,-10px);

  } */
  .lw1 h3{
    text-align: center;
  }
  .invest_content_1,.invest_content_2{
    width: 30%;
    height:90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .soss{
    display: none;
    justify-content: center;
    width: 70%;
  }
  .kwq{
    display: flex;
    flex-flow:row;
    align-items: center;
    width: 100%;
    margin: 10px;
    justify-content: space-evenly;
  }
  .lw1 h3{
    text-align: start;
    font-size: 28px;
    margin: 5px;
    font-weight: 200;
  }
  .lw1 span{
    text-align: center;
    width: 100%;
  }
  /* .lw1{
    display: flex;
    flex-flow:column;
    align-items: center;
    width: 100%;
  } */
  .btn_feature2 {
    margin: 10px;
  }
  .btn_feature2 button{
    width: 80px;
    border-radius: 10px;
    border:none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.174);
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
    height: 45px;
    font-size: 13px;
  }
  
  .btn_feature2 button:nth-child(1){
    color: white;
    background-color: rgb(96, 19, 168);
    
  }
  
  .btn_feature2 button:hover{
    cursor: pointer;
    transform: scale(1.09);
  }
  .sp_w1{
    width: 50%;
    height: 70%;
    background-image: url(./assets/img/cloth.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .strss{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .max_s{
    font-size: 30px; 
    font-weight: 100;
    text-align: center;

  }
  .mx_ins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
  .section_2_investment{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .ms_in h4{
    font-size: 15px;
    font-weight: 100;
  }
  .img_ho img {
    transition: 0.5s ease-in-out;

  }
  .lss{
    background-color: var(--btn_bg);
    color: whitesmoke;
  }
  .ms_in button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
  }
  .img_ho img:hover {
    scale: 1.08;
    cursor: pointer;
  }
  .img_ho{
    width: 80%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
  }
  .ms_in h3{
    font-weight: 100;
    margin-top: 10px;
  }
  /* .ms_in h3,h4{
    transform: translateX(15px);
  } */
  .ms_in h3{
    width:80%;
    text-align: start;
  }
  .ms_in h4{
    width: 80%;
    text-align: start;
  }
  .ms_in{
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Section_ins_1{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .lps_1{
    height: 70%;
    border-radius: 10px;
    width: 50%;
    background-image: url(./assets/Suleiman.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .lps_2{
    height: 70%;
    border-radius: 10px;
    width: 45%;
    background-image: url(./assets/img/Business_po.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .qsq{
    display: flex;
    flex-flow: column;
    width: 50%;
  }
  .qsq h2{
    font-weight: 100;
  }
  .qsq h1{
    font-size: 30px;
    font-weight: 100;
    text-align: start;
  }
  .ksq h3{
    font-size: 20px;
    margin: 2px;
  }
  .lsa span{
margin-top: 8px;
  }
  .line{
    height: 100%;
    position: relative;
    font-size: 20px;
    margin: 10px;
    margin-left: 30px;
    font-weight: 100;
  }
  .nams{
    display: flex;
    justify-content: start;
  }
  .lsaa{
    display: flex;
    justify-content: space-evenly;
  }
  .lsa p{
    font-size: 18px;
  }
  .ksq{
    color: rgb(235, 235, 58);
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .section_5_ins{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;

  }
  .nots h2{
    font-size: 35px;
    font-weight:lighter;
    text-align: center;
  }
  .div_cons{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Teams img{
    border-radius:50%;
  }
  .Teams span{
    width: 80%;
  }
  .Icons{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin: 10px;
    font-size: 25px;
  }
  .icon_ins{
    color: tomato;
  }
  .icon_X{
    color: rgb(0, 183, 255);
  }
  .Teams{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  .Section_6_ins{
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Section_6_inss{
    min-height: 150vh;
    width: 100%;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .Section_6_inss2{
    min-height: 70vh;
    width: 100%;
    position: relative;
    top: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .blocks {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .blocks p{
    width: 90%;
  }
  
.tbl{
  margin-top: 150px;
  margin-bottom: 10px;
}
  .blocks h2{
    font-size: 30px;
    font-weight: 100;
  }
  /* .topz{
    transform: translateY(70px);
  } */
   .blocks_2{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
     width: 98%;
    height: 50vh;
    position: relative;
   }
   .blocks2{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/Contact_US.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss2{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/cloth.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
     .blockss3{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/connection.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss4{ 
     width: 100%;
    height: 80%;

     border-radius: 10px;
    background-image: url(./assets/img/con2.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .Secion_1_connection{
    height:100vh;
    width: 100%;
    background-image: url(./assets/img/Contac_us.jpg);
    position: relative;
    top: 56px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fuls h1{
    font-size: 45px;
    font-weight: 100;
    color: whitesmoke;
  }
  .fuls p{
    font-size: 18px;
    color: whitesmoke;
  }
  .fuls{
    width: 100%;
    height: 100%;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.159);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .Admin{
   height: 200vh;
  width: 100%;
 }
 .Section_1_chart{
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 10px;
  transform:translateY(12%);
 }
 .Box_chart:nth-child(1){
  background-color: rgb(63, 128, 239);
 }
 .Box_chart:nth-child(2){
  background-color: rgb(245, 245, 245);
 }
 .Box_chart{
  width: 30%;
  height: 250px;
  /* background-color: var(--body_bg); */
  display: flex;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: rgb(245, 245, 245);
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
 }
 .boxs h1{
  text-align: start;
  font-size: 20px;
 }
 .btns{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
  border: none;
  background-color: var(--btn_bg);
  margin-top: 15px;
 }
 .boxs_2{
  display: flex;
  flex-flow: column;
  width: 70%;
 }
 .boxs{
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-left: 15px;
  width: 100%;
  height: 250px;
  
 }
 .boxs2{
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;

 }
 .Box_chart2{
  width: 40%;
  height: 200px;
  margin: 10px;
  border: 1px solid rgb(151, 151, 151);
  background-color: var(--body_bg);
  display: flex;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex-flow: column;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
 }
 .inline_charts{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px;
 }
 .flat_b{
  width: 30%;
  height: 250px;
  background-color: var(--body_bg);
  display: flex;
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
 }
 .linesa{
  width: 70%;
 }
 .Line_box{
  /* width: 70%; */
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: var(--body_bg);
  height: 47vh;
 }
 .progress{
  height: 100%;
  width: 30%;
  padding: 10px;
 }
 .psl{
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--body_bg);
 }
 .flat_flex{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
 }
 .boxsa2{
  font-size: 30px;
  color: rgb(250, 152, 168);
 }
 .kqz{
  margin-top: 5px;
  font-size: 13px;
 }
 .boxsa{
  font-size: 20px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height:40px;
  width:45px;
  background-color: rgb(235, 234, 233);
 }
 .small_box:nth-child(1){
  background-color: #ffc0cb;
 }
 .small_box:nth-child(2){
  background-color: #ffc0cb;
 }
 .small_box:nth-child(3){
  background-color: #ffc0cb;
 }
 .small_box{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 10px;
  height: 100px;
  background-color: var(--body_bg);
  border: 1px solid rgb(151, 151, 151);
 }
 .charts_flex{
  width: 100%;
  border-radius: 10px;
  height: 144px;
  /* background-color: hsl(58, 100%, 59%); */
  border: 1px solid rgb(151, 151, 151);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
 }
 .flxs{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
 }
 .progress_bar::-webkit-progress-value{
  background-color: rgb(0, 191, 255);
  border-radius: 5px;

 }
 .progress{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
 }
 .rts{
  font-size: 17px;
  transform: translateY(10px);

  /* transform: translate(5px,5px); */
 }
 .pro_size{
  display: flex;
  transform: translateY(-5px);
  justify-content: space-between;
  align-items: center;
 }
 .progress_bar::-ms-fill{
  background-color: yellow;
 }
 .progress_bar::-webkit-progress-bar{
  border-radius: 10px;
  border-radius: 10px;

 }
 .progress_bar{
  height: 20px;
  margin-top: 10px;
  width: 98%;
  border-radius: 10px;
}

.buttons_class{
  width: 100%;
  display: flex;
  /* flex: 1; */
  z-index: 1;
  height: 50px;
  justify-content: center;
  
}

.Btn_elements{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 10px;
  height: 47vh;

  background-color: var(--body_bg);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.items_cont::-webkit-scrollbar{
  width: 0px;
}
.items_cont{
  width: 100%;
  height: 100%;
  background-color: var(--body_bg);
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}
.items_cons{
  width: 100%;
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-evenly;
  margin: 5px;
  height: 100px;
  background-color: var(--body_bg);

}

.user_comment{
  height:100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  position: relative;
  padding: 10px;
  
}
.lswa{
  display: flex;
  flex-flow: row wrap ;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}
.User_com{
  width: 90%;
  display: flex;
  align-items: center;
  flex-flow: row wrap ;
  height: auto;
  background-color: var(--body_bg);
  border: 1px solid rgb(151, 151, 151);
  padding-inline:10px ;
  margin: 10px;
  border-radius: 10px;
}
.bodys{
  width: 100%;
  height: 100%;
}
.boys{
  display: flex;
  width: 100%;
  flex-flow:column; 

}
.p1{
  transform: translateY(-10px);
}
 
}

@media screen and (min-width:901px){
  .Investment_sec1{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--body_bg);
    position: relative;
    top: 70px;
    justify-content: center;
  }
  .invest_content_1 h2{
    font-size: 30px;
    /* width: 100%; */
    text-align: start;
    font-weight: 100;
  }
  .pH1{
    display: flex;
    flex-flow:column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 100%;
  }
  /* .invest_content_1 p{
    width: 70%;
    text-align: start;
    margin: 5px;
    transform: translate(17px,-10px);

  } */
  .lw1 h3{
    text-align: center;
  }
  .invest_content_1,.invest_content_2{
    width: 30%;
    height:90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .soss{
    display: none;
    justify-content: center;
    width: 70%;
  }
  .kwq{
    display: flex;
    flex-flow:row;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
  }
  .lw1 h3{
    text-align: start;
    font-size: 28px;
    margin: 5px;
    font-weight: 200;
  }
  .lw1 span{
    text-align: center;
    width: 100%;
  }
  /* .lw1{
    display: flex;
    flex-flow:column;
    align-items: center;
    width: 100%;
  } */
  .btn_feature2 {
    margin: 20px;
  }
  .btn_feature2 button{
    width: 100px;
    border-radius: 10px;
    border:none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.174);
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
    height: 45px;
    font-size: 13px;
  }
  
  .btn_feature2 button:nth-child(1){
    color: white;
    background-color: rgb(96, 19, 168);
    
  }
  
  .btn_feature2 button:hover{
    cursor: pointer;
    transform: scale(1.09);
  }
  .sp_w1{
    width: 50%;
    height: 70%;
    background-image: url(./assets/img/cloth.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .strss{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .max_s{
    font-size: 35px; 
    font-weight: 100;
    text-align: center;

  }
  .mx_ins{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section_2_investment{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .ms_in h4{
    font-size: 15px;
    font-weight: 100;
  }
  .img_ho img {
    transition: 0.5s ease-in-out;

  }
  .lss{
    background-color: var(--btn_bg);
    color: whitesmoke;
  }
  .ms_in button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
  }
  .img_ho img:hover {
    scale: 1.08;
    cursor: pointer;
  }
  .img_ho{
    width: 80%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
  }
  .ms_in h3{
    font-weight: 100;
    margin-top: 10px;
  }
  /* .ms_in h3,h4{
    transform: translateX(15px);
  } */
  .ms_in h3{
    width:80%;
    text-align: start;
  }
  .ms_in h4{
    width: 80%;
    text-align: start;
  }
  .ms_in{
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Section_ins_1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .lps_1{
    height: 70%;
    border-radius: 10px;
    width: 35%;
    background-image: url(./assets/Suleiman.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .lps_2{
    height: 70%;
    border-radius: 10px;
    width: 35%;
    background-image: url(./assets/img/Business_po.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .qsq{
    display: flex;
    flex-flow: column;
    width: 40%;
    margin-left: 20px;
  }
  .qsq h2{
    font-weight: 100;
  }
  .qsq h1{
    font-size: 30px;
    font-weight: 100;
    text-align: start;
  }
  .ksq h3{
    font-size: 20px;
    margin: 2px;
  }
  .lsa span{
margin-top: 8px;
  }
  .line{
    height: 100%;
    position: relative;
    font-size: 20px;
    margin: 10px;
    margin-left: 30px;
    font-weight: 100;
  }
  .nams{
    display: flex;
    justify-content: start;
  }
  .lsaa{
    display: flex;
    justify-content: space-evenly;
  }
  .lsa p{
    font-size: 18px;
  }
  .ksq{
    color: rgb(235, 235, 58);
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .section_5_ins{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;

  }
  .nots h2{
    font-size: 35px;
    font-weight:lighter;
    text-align: center;
  }
  .div_cons{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Teams img{
    border-radius:50%;
  }
  .Teams span{
    width: 80%;
  }
  .Icons{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 10px;
    font-size: 25px;
  }
  .icon_ins{
    color: tomato;
  }
  .icon_X{
    color: rgb(0, 183, 255);
  }
  .Teams{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  .Section_6_ins{
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Section_6_inss{
    min-height: 100vh;
    width: 100%;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blocks {
    width: 40%;
  }
  .blocks p{
    width: 60%;
  }
  .blocks h2{
    font-size: 30px;
    font-weight: 100;
  }
  /* .topz{
    transform: translateY(70px);
  } */
   .blocks_2{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
     width: 35%;
    height: 60vh;
   }
   .blocks2{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/Contact_US.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss2{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/cloth.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss3{ 
     width: 100%;
    height: 100%;

     border-radius: 10px;
    background-image: url(./assets/img/connection.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .blockss4{ 
     width: 100%;
    height: 80%;

     border-radius: 10px;
    background-image: url(./assets/img/con2.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .Secion_1_connection{
    height:100vh;
    width: 100%;
    background-image: url(./assets/img/Contac_us.jpg);
    position: relative;
    top: 56px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fuls h1{
    font-size: 45px;
    font-weight: 100;
    color: whitesmoke;
  }
  .fuls p{
    font-size: 18px;
    color: whitesmoke;
  }
  .fuls{
    width: 100%;
    height: 100%;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.159);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Section_6_inss2{
    min-height: 70vh;
    width: 100%;
    position: relative;
    top: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .Video{
    position: relative;
    top: 10px;
    padding: 20px;
    overflow: hidden;
     display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    width: 100%;
  }
  .on{
    position: absolute;
    transform: translateY(-2%);
  }
  .of{
    display: none;
  }
 .video_container{
  display: flex;
  justify-content: center;
  align-items: center;
 
  flex-flow: column;
  position: relative;
  width: 100%;
  height: 90%;
  /* background-color: black; */
 }
 .btn_buttons_video button{
  margin: 10px;
 }
 .btn_buttons_video{
  display: flex;

 }
 .Admin{
  min-height: 100vh;
  width: 100%;
 }
 .Section_1_chart{
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 10px;
  transform:translateY(12%);
 }
 .Box_chart:nth-child(1){
  background-color: rgb(63, 128, 239);
 }
 .Box_chart:nth-child(2){
    background-color:rgb(133, 131, 255) ;

 }
 .Box_chart{
  width: 30%;
  height: 250px;
  /* background-color: var(--body_bg); */
  display: flex;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: rgb(245, 245, 245);
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
 }
 .boxs h1{
  text-align: start;
  font-size: 20px;
 }
 .btns{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
  border: none;
  background-color: var(--btn_bg);
  margin-top: 15px;
 }
 .boxs_2{
  display: flex;
  flex-flow: column;
  width: 70%;
 }
 .boxs{
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-left: 15px;
  width: 100%;
  height: 250px;
  
 }
 .boxs2{
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;

 }
 .Box_chart2{
  width: 40%;
  height: 200px;
  margin: 10px;
  border: 1px solid rgb(151, 151, 151);
  background-color: var(--body_bg);
  display: flex;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex-flow: column;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
 }
 .inline_charts{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px;
 }
 .flat_b{
  width: 30%;
  height: 250px;
  background-color: var(--body_bg);

  display: flex;
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
 }
 .linesa{
  width: 80%;
}
 .Line_box{
  width: 70%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: var(--body_bg);
  height: 47vh;
 }
 .progress{
  height: 100%;
  width: 20%;
  padding: 10px;
 }
 .psl{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--body_bg);
 }
 .flat_flex{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
 }
 .boxsa2{
  font-size: 30px;
  color: rgb(250, 152, 168);
 }
 .kqz{
  margin-top: 5px;
  font-size: 13px;
 }
 .boxsa{
  font-size: 20px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height:40px;
  width:45px;
  background-color: rgb(235, 234, 233);
 }
 .small_box:nth-child(1){
  background-color: #ffc0cb;
 }
 .small_box:nth-child(2){
  background-color: #ffc0cb;
 }
 .small_box:nth-child(3){
  background-color: #ffc0cb;
 }
 .small_box{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 10px;
  height: 100px;
  background-color: var(--body_bg);
  border: 1px solid rgb(151, 151, 151);
 }
 .charts_flex{
  width: 100%;
  border-radius: 10px;
  height: 144px;
  /* background-color: hsl(58, 100%, 59%); */
  /* border: 1px solid rgb(151, 151, 151); */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color:rgb(237, 172.5789473684, 33);
 
}
 .flxs{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
 }
 .progress_bar::-webkit-progress-value{
  background-color: rgb(0, 191, 255);
  border-radius: 5px;

 }
 .progress{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
 }
 .rts{
  font-size: 17px;
  transform: translateY(10px);

  /* transform: translate(5px,5px); */
 }
 .pro_size{
  display: flex;
  transform: translateY(-5px);
  justify-content: space-between;
  align-items: center;
 }
 .progress_bar::-ms-fill{
  background-color: yellow;
 }
 .progress_bar::-webkit-progress-bar{
  border-radius: 10px;
  border-radius: 10px;

 }
 .progress_bar{
  height: 20px;
  margin-top: 10px;
  width: 98%;
  border-radius: 10px;
}

.buttons_class{
  width: 100%;
  display: flex;
  z-index: 1;
  height: 50px;
  justify-content: center;
  
}

.Btn_elements{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 28%;
  overflow: hidden;
  height: 47vh;

  background-color: var(--body_bg);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.items_cont::-webkit-scrollbar{
  width: 0px;
}
.items_cont{
  width: 100%;
  height: 100%;
  background-color: var(--body_bg);
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}
.items_cons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  height: 100px;
  background-color: var(--body_bg);

}

.user_comment{
  height:100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  position: relative;
  padding: 10px;
  
}
.lswa{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}
.User_com{
  width: 90%;
  display: flex;
  align-items: center;
  height: auto;
  background-color: var(--body_bg);
  border: 1px solid rgb(151, 151, 151);
  padding-inline:10px ;
  margin: 10px;
  border-radius: 10px;
}
.bodys{
  width: 100%;
  height: 100%;
}
.boys{
  display: flex;
  width: 100%;
  flex-flow:column; 

}
.p1{
  transform: translateY(-10px);
}
}
.ons{
  color: var(--color);
  border: none;
  background-color: transparent;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.ons::before{
  content: '';
  position: absolute;
  top: 20px;
  border-radius: 10px;
  height: 10px;
  color: var(--color);
  background-color: skyblue;

  /* transform: translateX(60%); */
  left: 30%;
  right: 0%; 
  transition: 0.5s ease-in-out;
  animation: grows 0.5s ease-in-out forwards;
}
.offs{
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color);
  margin: 10px;
}
.scrl::-webkit-scrollbar{
width: 0px;
}

@keyframes grows {
  0%{
    width: 30px;

  }
  50%{
    width: 20px;
  
  }
  100%{
    width:30px;

  }
}

.theames{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Btn_elements{
  position: relative;
}